services:
  donation-portal:
    container_name: donation-portal
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - donation-net

networks:
  donation-net:
    driver: bridge
